*{
  padding: 0%;
  margin: 0%;
}

 .navbar{
  width: 100%;
  height: 100px;
  background-color: midnightblue;
  display: flex;
  justify-content: center;

  

}

  



.link{
  
  margin:20px;
  position:relative;
  top:30px;
  color:white;
  
}


.cards{
  width: 100%;
  height: 400px;
  /* background-color: midnightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards div{
  width: 30%;
  height: 80%;
  background-color: #333;
  margin: 2%;
}


#imag1{
  width: 100%;
  height: 100%;
}

#imag2{
  width: 100%;
  height: 100%;
}

#imag3{
  width: 100%;
  height: 100%;
}


.videos{
  width: 100%;
  height: 400Px;
  background-color: midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videos div{
  width: 300px;
  height: 250px;
  background-color: rgb(72, 61, 61);
  margin: 2%;
}


.child-vid{
  width:100%;
  height:100%;
  object-fit: cover;
}
